.PC {
  background: #fff;
  text-align: center;
}
.PC_Title {
  font-size: 80px;
  font-weight: 600;
  letter-spacing: 0;
  line-height: 37px;
  background: #753bbd;
  padding: 100px;
  color: #fff;
  text-align: left;
  font-family: "Aveny-T-Bold";
}
.PC_Tabs {
  width: 80%;
  background: white;
}
.PC-Tab {
  display: block;
  justify-items: center;
}
.PC-Contents {
  width: 100%;
}
.PC_Campus {
}
.PC_Campus_Title {
}
.PCs {
}
@media (max-width: 650px) {
  .PC {
    background: #c4c4c4;
  }
  .PC_Title {
    font-size: 36px;
    font-weight: normal;
    text-align: center;
    padding: 0px;
    background: transparent;
    color: #131313;
  }
}
