body {
  background: #f0f3f8;
  margin: 0 5%;
}

#root {
  display: block;
}

.Contents {
  display: grid;
  grid-template-columns: auto;
  gap: 40px;
}
.Search {
  display: grid;
  gap: 8px;
  background: #dfe6ee;
  padding: 55px;
  max-width: 1200px;
}
.Search-Title {
  font-weight: normal;
  font-size: 36px;
  line-height: 41px;
  text-transform: uppercase;
  margin: 0px;
}

.Search-Text {
  font-weight: normal;
  font-size: 18px;
  line-height: 21px;
}

.Search-Fields {
  display: grid;
  grid-template-columns: auto auto;
  gap: 8px;
  height: 35px;
}
.Search-Fields select {
  border: solid 1px #000;
  padding: 6px;
}

.Search-Input {
  padding: 6px;
  color: #ddd;
  border: solid 1px #ddd;
}

.Explore {
  display: grid;
  text-align: center;
  grid-template-columns: auto;
  gap: 8px;
  margin-top: 30px;
}
.BigTxt {
  font-weight: normal;
  font-size: 36px;
  line-height: 41px;
  text-transform: uppercase;
}
.ExploreTxt {
  font-weight: normal;
  font-size: 18px;
  line-height: 28px;
}
.A-Z button {
  background: none;
  border: 0px;
  font-weight: normal;
  font-size: 18px;
  line-height: 28px;
}
.Subject {
  margin: 0 auto;
  min-width: 250px;
  height: 40px;
  background: #fff;
  border: 2px solid #763cbe;
  color: #763cbe;
  font-weight: bold;
}
.Subjects-Grid {
  display: grid;
  grid-template-columns: auto auto auto;
  gap: 8px;
  margin-top: 16px;
}
.Results {
  display: grid;
  grid-template-columns: auto;
  gap: 20px;
}

.Academics {
  display: grid;
  grid-template-columns: auto;
  gap: 40px;
}

.Academic {
  padding: 50px;
  width: 100%;
  background: #c3d0d9;
  border: 1px solid #000000;
  display: grid;
  grid-template-columns: 500px auto;
}

.Academic-Picture {
  border-radius: 100%;
  max-width: 380px;
}

.fithty50 {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
}

.Academic-Title {
  font-weight: normal;
  font-size: 32px;
  line-height: 55px;
  text-transform: uppercase;
  margin: 0px;
  margin-right: 10px;
}

.Academic-School {
  font-weight: normal;
  font-size: 18px;
  line-height: 28px;
  text-transform: capitalize;
  margin-left: 10px;
  color: #763cbe;
  text-decoration: none;
}

.Academic-Text {
  line-height: 21px;
}

.Academic-Links {
  display: grid;
  grid-template-columns: auto auto;
  gap: 8px;
}

.Academic-Link {
  margin: 0 auto;
  width: 100%;
  height: 40px;
  background: #fff;
  border: 2px solid #763cbe;
  color: #763cbe;
  font-weight: bold;
}

.Academic-Subject {
  line-height: 21px;
  color: #763cbe;
}

.Left {
  display: grid;
}

.Right {
  display: grid;
  grid-template-columns: auto;
  text-align: left;
  gap: 30px;
}
